@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* @import url("https://fonts.googleapis.com/css?family=Quicksand:400"); */

/* =========================== Tailwind fonts =========================== */

@layer base {
  html {
    font-family: Quicksand, sans-serif;
    /* 
      * Font weight: ( https://fonts.google.com/specimen/Quicksand )
      * - Light 300
      * - Regular 400
      * - Medium 500 
      * - SemiBold 600
      * - Bold 700  
    */
  }
}

a {
  @apply text-blue-500 transition-all hover:text-blue-400 hover:underline;
}

/* =========================== Default CSS =========================== */

html {
  /*22px*/
  font-size: 137.5%;
}

body {
  background: white;
  font-family: "Quicksand", sans-serif;
  /* font-weight: 400; */
  line-height: 1.75;
  color: #000000;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Quicksand", sans-serif;
  line-height: 200px;
}

.title-1 {
  margin-top: 0;
  font-size: 7.361rem;
  font-weight: 700;
}

.title-2 {
  margin-top: 0;
  font-size: 5.535rem;
  font-weight: 700;
}

h1 {
  margin-top: 0;
  font-size: 4.162rem;
  font-weight: 500;
}

h2 {
  font-size: 3.129rem;
  font-weight: 500;
}

h3 {
  font-size: 2.353rem;
  font-weight: 500;
}

h4 {
  font-size: 1.769rem;
  font-weight: 500;
}

h5 {
  font-size: 1.33rem;
}

p,
.p-text {
  font-size: 1rem;
  font-weight: 500;
}

p,
.p-paragraph {
  font-size: 0.818rem;
  font-weight: 400;
}

small,
.text_overline_1 {
  font-size: 0.752rem;
  font-weight: 500;
}

small,
.text_overline_2 {
  font-size: 0.565rem;
  font-weight: 600;
}
