/* =========================== Register font =========================== */

/* @import url("https://fonts.googleapis.com/css?family=Quicksand"); */
/* @import url("https://fonts.googleapis.com/css?family=Quicksand:400"); */

    /* 
      * Font weight: ( https://fonts.google.com/specimen/Quicksand )
      * Light - 300
      * Regular - 400
      * Medium - 500 
      * SemiBold - 600
      * Bold - 700  
    */

/* =========================== Default p5.js =========================== */

html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  /* max-width: 1600px; */
}

.container-p5 {
  display: block;
  /* margin: 0; */
  margin: auto; /* centers the canvas */
  padding: 0;
}

/* =========================== Gradient =========================== */

body[class="light-mode"] {
  /* sunrise */

  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient( #CCEAFF 0%, #FFFFFF 54.92%);
  background: -moz-linear-gradient( #CCEAFF 0%, #FFFFFF 54.92%);
  background: -webkit-linear-gradient( #CCEAFF 0%, #FFFFFF 54.92%);
  background: -o-linear-gradient( #CCEAFF 0%, #FFFFFF 54.92%);
  background: -ms-linear-gradient( #CCEAFF 0%, #FFFFFF 54.92%);
}

body[class="dark-mode"] {
  /* sunset */
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(#112362 7.98%, #FFFFFF 100%);
  background: -webkit-linear-gradient(#112362 7.98%, #FFFFFF 100%);
  background: -moz-linear-gradient(#112362 7.98%, #FFFFFF 100%);
  background: -ms-linear-gradient(#112362 7.98%, #FFFFFF 100%);
  background: -o-linear-gradient(#112362 7.98%, #FFFFFF 100%);
}

/* =========================== Font Stylings =========================== */

body {
  line-height: 1.75;
  font-family: "Quicksand", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 1rem;
}

/* 
body[class='light-mode'] > p {
  color: #383838;
} */

.title-1 {
  font-size: 7.361rem;
  font-weight: 700;
}

.title-2 {
  font-size: 5.535rem;
  font-weight: 700;
}

.display-1 {
  font-size: 4.162rem;
  font-weight: 500;
}

.display-2 {
  font-size: 3.129rem;
  font-weight: 700;
  line-height: 100%;
}

.headline {
  font-size: 2.353rem;
  font-weight: 700;
}

.title {
  font-size: 1.769rem;
  font-weight: 500;
}

.subheading {
  font-size: 1.33rem;
}

.p-bodycopy {
  font-size: 1rem;
  font-weight: 500;
}

.p-paragraph {
  font-size: 0.818rem;
  font-weight: 400;
}

.button {
  font-size: 0.727rem;
  font-weight: 500;
}

.caption {
  font-size: 0.75rem;
  font-weight: 500;
}

.legal {
  font-size: 0.565rem;
  font-weight: 600;
}

/* =========================== Colors =========================== */

.text-black {
  color: #262626;
}

.text-cream {
  color: #FBF4E9;
}

.text-white {
  color: #F8F8F8;
}

.text-overlay-light {
  color: #A0A0A0;
}

.text-overlay-black {
  color: #383838;
}

 h1, h2, h3, h4, h5, h6 > body[class="light-mode"]{
  color: #383838
}

p {
  color: #383838
}

/* =========================== Misc =========================== */

button {
  cursor: pointer;
}