/* =========================== Register font =========================== */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* @import url("https://fonts.googleapis.com/css?family=Quicksand:400"); */

/* =========================== Default CSS =========================== */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.75;
  font-family: "Quicksand", sans-serif;

  /* background gradient */
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(180deg, #CCEAFF 0%, #FFFFFF 54.92%);
  background: -webkit-linear-gradient(180deg, #CCEAFF 0%, #FFFFFF 54.92%);
  background: -moz-linear-gradient(180deg, #CCEAFF 0%, #FFFFFF 54.92%);
  background: -ms-linear-gradient(180deg, #CCEAFF 0%, #FFFFFF 54.92%);
  background: -o-linear-gradient(180deg, #CCEAFF 0%, #FFFFFF 54.92%);
}

p {
  margin-bottom: 1rem;
}


/* =========================== Font Stylings =========================== */

.title-1 {
  margin-top: 0;
  font-size: 7.361rem;
  font-weight: 700;
}

.title-2 {
  margin-top: 0;
  font-size: 5.535rem;
  font-weight: 700;
}

.display-1 {
  font-size: 4.162rem;
  font-weight: 500;
}

.display-2 {
  font-size: 3.129rem;
  font-weight: 500;
}

.headline {
  font-size: 2.353rem;
  font-weight: 700;
}

.title {
  font-size: 1.769rem;
  font-weight: 500;
}

.subheading {
  font-size: 1.33rem;
}

p,
.p-bodycopy {
  font-size: 1rem;
  font-weight: 500;
}

p,
.p-paragraph {
  font-size: 0.818rem;
  font-weight: 400;
}

small,
.button {
  font-size: 0.727rem;
  font-weight: 500;
}

small,
.caption {
  font-size: 0.75rem;
  font-weight: 500;
}

small,
.legal {
  font-size: 0.565rem;
  font-weight: 600;
}

canvas {
  display: block;
  margin: auto; /* centers the canvas */
}