/* Sketch p5.js Default */

html,
body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

/* ==================================== */

.inner-container {
    margin-top: 55px;
    margin-left: 37px; 
    height: 23vh;
}